<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit page</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <div class="w-full min-h-screen bg-zinc-900 text-white p-10">
    <div class="w-full flex justify-end">
      <a href="/logout" class="bg-red-500 rounded-md px-4 py-1">Logout</a>
    </div>
    <h5 class="mb-2">Edit Your Post</h5>
    <form method="post" action="/update/<%= post._id %>">
      <textarea class="w-1/2 outline-none resize-none p-3 bg-transparent border-2 border-zinc-800 rounded-md" name="content" placeholder="What's on your mind?"><%= post.content %>
      </textarea>
      <input type="submit" class="px-3 w-40 py-2 bg-yellow-500 text-sm text-black block rounded-md mt-2" value="Update Post">
    </form>

  </div>
</body>

</html